# Orchestrator
OTA_ORCHESTRATOR_PORT=8080

# Controller
ROLLOUT_CONTROLLER_PORT=8090

# Postgres
POSTGRES_USER=your_service_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db

# Kafka
KAFKA_PORT=29092
KAFKA_TOPIC_PARTITIONS=3
KAFKA_LOG_RETENTION_HOURS=24
KAFKA_UI_PORT=8081

# Frontend
FRONTEND_PORT=3000
