# Graceful shutdown timeout
SHUTDOWN_TIMEOUT=30s

# Server
SERVER_HOST=localhost
SERVER_PORT=8090
SERVER_TIMEOUT=30s

# Cache
CACHE_HOST=localhost
CACHE_PORT=6379

# Cache TTL
CACHE_CAMPAIGN_EVENT_ID_SEEN_TTL=24h

# Broker
BROKER_HOST=localhost
BROKER_PORT=29092
BROKER_BATCH_TIMEOUT=10ms
BROKER_TIMEOUT=10s
BROKER_GROUP_ID=your-group-id
BROKER_MIN_BYTES=1

# Evaluator
EVALUATOR_FREQUENCY=10s
EVALUATOR_REQUIRED_STABLE_CYCLES=3
