# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_service_user
DB_PASSWORD=your_password
DB_NAME=your_db
DB_SSL_MODE=disable

# Cache
CACHE_HOST=localhost
CACHE_PORT=6379

# Cache TTL
CACHE_DEVICE_CHECKIN_DATA_TTL=24h
